html,
body{

margin:0;

padding:0;

height:100%;

font-family:Arial,Helvetica,sans-serif;

overflow:hidden;

}

#map{

position:absolute;

left:300px;

right:0;

top:0;

bottom:0;

}

#sidebar{

position:absolute;

left:0;

top:0;

bottom:0;

width:300px;

background:white;

padding:20px;

box-shadow:0 0 15px rgba(0,0,0,.2);

z-index:2;

overflow:auto;

}

#searchBox{

width:93%;

padding:10px;

margin-bottom:20px;

font-size:16px;

}

#legend div{

display:flex;

align-items:center;

margin-bottom:10px;

}

#legend span{

display:inline-block;

width:18px;

height:18px;

border-radius:50%;

margin-right:10px;

}

.green{

background:#00c853;

}

.yellow{

background:#ffd600;

}

.orange{

background:#ff9800;

}

.red{

background:#f44336;

}

.purple{

background:#9c27b0;

}

/* Popup CSS */
.maplibregl-popup-content {

    width:350px;
    max-width:350px;

    padding:15px;

    box-sizing:border-box;

    overflow-wrap:break-word;

}

.popup {

    width:100%;

    min-width:260px;

    overflow-wrap:break-word;

}

.popup h2 {

    margin:0;

    font-size:20px;

}

.popup table {

    width:100%;

    margin-top:12px;

    border-collapse:collapse;

    table-layout:fixed;

}

.popup td {

    padding:4px;

    overflow-wrap:break-word;

}

.popup td:first-child {

    width:35%;

}

.popup-status{

    display:inline-block;

    margin-top:8px;

    padding:4px 10px;

    border-radius:12px;

    background:#2e7d32;

    color:white;

    font-weight:bold;

    font-size:12px;

}


.badge {

    display:inline-block;

    margin-top:8px;

    padding:5px 12px;

    border-radius:20px;

    color:white;

    font-weight:bold;

}

.badge.major{

    background:#7b1fa2;

}

.badge.moderate{

    background:#d32f2f;

}

.badge.minor{

    background:#f57c00;

}

.badge.action{

    background:#fbc02d;

    color:black;

}

/* .badge.not_defined{

    background:#2e7d32;

} */

.badge.missing {
    background: #1976d2;
}

.badge.normal {
    background:#2e7d32;
}

/* The Filter CSS */


#filters{

    margin-top:15px;

}

#filters label{

    display:flex;

    align-items:center;

    gap:8px;

    margin-bottom:10px;

    cursor:pointer;

    user-select:none;

}

.filter-dot{

    width:14px;

    height:14px;

    border-radius:50%;

    display:inline-block;

    border:1px solid #555;

}

.gray{

    background:#8e8e8e;

}

/* Buttons */

.filter-buttons{

    display:flex;

    gap:10px;

    margin-bottom:15px;

}

.filter-buttons button{

    flex:1;

    padding:8px;

    border:none;

    border-radius:6px;

    background:#1976d2;

    color:white;

    cursor:pointer;

    font-weight:bold;

}

.filter-buttons button:hover{

    background:#1565c0;

}


/* EXTRA */
#nearbyGauges{

    margin-top:10px;

}

.nearbyGauge{

    padding:10px;

    margin-bottom:8px;

    border-radius:8px;

    border:1px solid #ddd;

    cursor:pointer;

    background:white;

    transition:0.2s;

}

.nearbyGauge:hover{

    background:#f3f7ff;

    border-color:#1976d2;

}

#searchResults{

    margin-top:10px;

    max-height:250px;

    overflow-y:auto;

}

.searchResult{

    padding:10px;

    border:1px solid #ddd;

    border-radius:8px;

    margin-bottom:8px;

    cursor:pointer;

    background:white;

    transition:.2s;

}

.searchResult:hover{

    background:#eef5ff;

    border-color:#1976d2;

}